<div class="container-fluid background fromTop">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
    <div class="card">
        <img src="\assets\avtar.png" alt="John" style="width:100%">
        <h1>Mr. Rohan </h1>
        <p class="title">Emp ID:713080</p>
        <h3 style="font-weight: bold;"> <i> Mentor </i></h3>
        
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button href="tel:1324567891"> Contact </button>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-md-3">
<div class="card">
    <img src="\assets\avtar.png" alt="John" style="width:100%">
    <h1>Yadvendra</h1>
    <p class="title">Emp ID:562894</p>
    
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a> 
    </div>
    <p><button href="tel:1324567891"> Contact </button>
  </div>
</div>

<div class="col-md-3">  
<div class="card">
      <img src="\assets\avtar.png" alt="John" style="width:100%">
      <h1>Rajat</h1>
      <p class="title">Emp ID:562896</p>
      
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
      <p><button href="tel:1324567891"> Contact </button>
    </div>
    </div>
  
    
    <div class="col-md-3">
    <div class="card">
        <img src="\assets\avtar.png" alt="John" style="width:100%">
        <h1>Sasank</h1>
        <p class="title">Emp ID:562920</p>
        
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button href="tel:1324567891"> Contact </button>
      </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <img src="\assets\avtar.png" alt="John" style="width:100%">
              <h1>Vaibhav</h1>
              <p class="title">Emp ID:562893</p>
              
              <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button href="tel:1324567891"> Contact </button>
            </div>
          </div>
    </div>
      

    <div class="row">
      
    
    <div class="col-md-3 col-md-offset-1">  
    <div class="card">
          <img src="\assets\avtar.png" alt="John" style="width:100%">
          <h1>Vinayak</h1>
          <p class="title">Emp ID:562895</p>
          
          <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
          </div>
          <p><button href="tel:1324567891"> Contact </button>
        </div>
        </div>
      
        
        <div class="col-md-3">
        <div class="card">
            <img src="\assets\avtar.png" alt="John" style="width:100%">
            <h1>Jini</h1>
            <p class="title">Emp ID:563261</p>
            
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
            </div>
            <p><button href="tel:1324567891"> Contact </button>
          </div>
          </div>
        
          
        
            <div class="col-md-3">
        <div class="card">
            <img src="\assets\avtar.png" alt="John" style="width:100%">
            <h1>Karan</h1>
            <p class="title">Emp ID:562993</p>
            
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
            </div>
            <p><button href="tel:1324567891"> Contact </button>
          </div>
        </div>
        
</div>