<div  style="background:url(../assets/william-iven-19843-unsplash.jpg); background-size: cover;" id="img"> 
  <div class="useless"></div>
  <div class="container ">
      
    <div class="wraper-about ">
  <div class="row" style="margin-top: 70px;">
    <h2 style="font-weight: bold; font-size:40px;">How we work.</h2>
    <p>Our team works on challenges in collaboration wth our clients.</p>
    <div class="row" id="one">
      <div class="col-md-3">
    <h3 >Small Teams</h3>
  </div> 
  <div class="col-md-4 col-md-offset-1" id="icon">
      <span><i class="fas fa-users" style="color:rgb(231, 220, 220); font-size:70px;"></i></span>
    </div> 
   <div class="col-md-3">
     <ul style="color:rgb(231, 220, 220);">
       <li>Our team is always ready with creative ideas </li>
       <li>Clients join the team to truly understand the investment.  </li>
     </ul>
     </div>
  </div> 
  
  <hr>
  
  <div class="row">
    <h3 style="text-align:center; font-weight: bold; color:rgb(231, 220, 220);" class="big">Who are we?<span class="uselessSpan"></span></h3>
  <p  class="para">We are InvestoAvenue.com - India`s No. 1 Marketplace for knowing 
                  the best investment for you. Our aim is to make your investment 
                  decisions easy, convenient <br> and transparent for our customers.
                  We provide the best investment solutions which can help you to
                   make the ivestments that's best for you. We help you to <br>compare and choose
                    from wide range of options for your investment like home,gold,car,education etc and other 
                    many more categories.</p>
  </div>
  
  <div class="row">
  <h3 style="text-align:center; font-weight: bold; color:rgb(231, 220, 220);" class="big">Why choose us?<span class="uselessSpan"></span></h3>
  <p  class="para">Wide Range of Products: InvestoAvenue.com is the only online financial marketplace in India that 
      offers a complete spectrum of financial investments, ranging <br>from different categories
       according to the user and its needs.There are various products in which we give  
       options i ivestment  like mutual funds, savings<br>account and fixed deposit.
      InvestoAvenue.com partners with over 75 banks and other financial institutions. 
     </p>
  
  
  </div>
  
  <div class="row">
      <h3 style="text-align:center; font-weight: bold; color:rgb(231, 220, 220);" class="big">Contact us <span class="uselessSpan"></span></h3> 
      <p  class="para">In case you have any query or need any kind of assistance, please call
         us on 1800 208 8877 or email us at care@investoavenue.com. We would be delighted <br>
         to answer any questions that you may have. By logging onto InvestoAvenue.com, you can save 
         both time and money, while simultaneously getting the latest<br> information on the financial 
         products you seek.</p>
      
      
      </div>
  
  </div>
  </div>
  </div>
  <div class="useless"></div>
  </div>
  