<div class="row fromTop">
  <div class="col-md-6 col-md-offset-3" *ngIf="true">
    <div class="panel lr-color">
      <div class="panel-heading lr-color"><h2 style="text-align:center">Edit Details to Update</h2></div>
      <div class="panel-body lr-color"> 
      <form class="" [formGroup]="updateForm">

        <div class="form-group">
          <label for="name"> Name :</label>
          <input type="text" id="name"  formControlName="name"  class="form-control">
          <span class="text-danger" *ngIf="updateForm.controls.name.invalid "> Name is Required and should be minimum 4 letters</span>
        </div>


        <!-- (keyup)="getUserId()" -->
        <div class="form-group">
            <label for="">Email:</label>
            <input type="email" id="email" class="form-control"  formControlName="email">
            <span class="text-danger" *ngIf="updateForm.controls.email.invalid">Email Id is Required Field</span>
          </div>

          <div class="form-group">
              <label for="contactNo">Phone Number:</label>
              <input type="number" id="contactNo" class="form-control"  formControlName="contactNo">
              <span class="text-danger" *ngIf="updateForm.controls.contactNo.invalid ">Number is Required and Should be 10 digit number</span>
            </div>

        


        <div class="form-group">
            <button class="btn btn-primary" (click)="update()" [disabled]="updateForm.invalid">Update</button>
        </div>   
      </form>
      
</div>
</div>
</div>
</div>